

.input-group{  
    margin-top: 15px;
    align-items: center;
}

.login{
    border: 2px solid white;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 1.5rem;
}

.auth{ 
  cursor: pointer;
}